---
name: Bump version

on:
  workflow_dispatch:
  workflow_call:

jobs:
  bump:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: master
      - name: setup node
        uses: actions/setup-node@v4
      - name: bump version
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          npm version patch
      - name: push
        run: git push && git push --tags
